{% extends 'base.html.twig' %}

{% block title %}Hello ExcerciseController!{% endblock %}

{% block banner %}
    <div class="theme_header">
        <p class="dificulty">{{ difficulty }}</p>
    </div>
{% endblock %}

{% block body %}
    <div class="exercise">
        {% set format = '' %}
        {% for example in examples %}
            {% if example.format %}
                {% set format = example.format %}
            {% endif %}
            <div class="example">
                <div class="example-header">
                    {{ example.equation }}
                    <input type="text" class="answer-input" placeholder="Zadejte odpověď {{ format }}" />
                    <button class="submit-answer btn-primary" data-theme="{{ theme }}" data-difficulty="{{ difficulty }}" data-equation="{{ example.equation }}">Potvrdit</button>
                </div>
                <div class="answer" style="display: none;"></div>
                <div class="steps" style="display: none;"></div>
            </div>
        {% endfor %}
        <div class="results" style="display: none"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('example') }}
    {% block importmap %}{{ importmap('example') }}{% endblock %}
{% endblock %}

