{% extends 'base.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block banner %}
    <div class="theme_header">
        <h1>{{ title }}</h1>
    </div>
{% endblock %}
{% block body %}
    <div class="test-form">
        <form action="{{ path('test_show', { 'id': theme.id }) }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('test_submit') }}">
            <div class="examples">
                {% for example in examples %}
                    <div class="example">
                        <span class="example-number">{{ loop.index }}.</span>
                        <p>{{ example.question }}</p>
                        <input type="text" name="answers[{{ loop.index0 }}]" placeholder="Výsledek"
                               value="{{ user_answers[loop.index0] ?? '' }}">
                        {% if results|length > 0 %}
                            <span class="{{ results[loop.index0].is_correct ? 'correct' : 'incorrect' }}">
                                 {{ results[loop.index0].is_correct ? 'Správně' : 'Chybně' }}
                            </span>
                            {% if results[loop.index0].is_correct == false %}
                                <span class="correct-answer">Správná odpověď: {{ results[loop.index0].correct_answer }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                {% if results|length > 0 %}
                    <a class="btn-secondary" href="{{ path('theme_show', { 'id': theme.id }) }}">Ukončit test</a>
                {% else %}
                    <button class="btn-secondary" type="submit">Odeslat odpovědi</button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
