{% extends 'base.html.twig' %}

{% block title %}{{ theme.name }}{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block banner %}
    <div class="theme_header">
        <h1>{{ theme.name }}</h1>
        <p>{{ theme.description }}</p>
    </div>
{% endblock %}
{% block body %}
    <div class="test">
        <a class="btn-primary" href="/"><img class="icon" src="{{ asset('assets/icons/back.svg') }}">Zpět</a>
        <a class="btn-primary practise-link{% if not app.user %} disabled{% endif %}"
           href="{{ app.user ? path('app_exercise', { 'id': theme.id }) : '#' }}"
           data-tooltip="{% if not app.user %}Musíte být přihlášeni pro procvičování.{% endif %}"
           data-user="{{ app.user ? 'true' : 'false' }}">
            <img class="icon" src="{{ asset('assets/icons/practise.svg') }}">Procvičování
        </a>
        <a class="btn-primary test-link{% if examplesCount < 5 %} disabled{% endif %}"
           href="{{ examplesCount >= 5 ? path('test_show', { 'id': theme.id }) : '#' }}"
           data-tooltip="{% if examplesCount < 5 %}Test momentálně není dostupný.{% endif %}"
           data-examples="{{ examplesCount }}">
            <img class="icon" src="{{ asset('assets/icons/exam.svg') }}">Test
        </a>
    </div>

    <div id="tooltip"></div>

    <div class="theme-content">{{ theme.content|raw }}</div>
{% endblock %}


